@model WebApplication.Models.Contragent

@{
    ViewBag.Title = "Удалить контрагента";
}

<h2>Удаление контрагента</h2>

<h3>Вы уверены в том, что хотите удалить этого контрагента?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OGRN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OGRN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KPP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KPP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OKPO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OKPO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRegistr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRegistr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Head)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Head)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Site)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
