@{
    ViewBag.Title = "Главная страница";
}

    <h3>@Html.ActionLink("Список студентов", "List", "Student")</h3>
    <h3>@Html.ActionLink("Список компетенций", "Index", "Competences")</h3>
    <h3>@Html.ActionLink("Список партнеров", "Index", "Contragents")</h3>
    <h3>@Html.ActionLink("Список регионов", "Index", "Regions")</h3>
    <h3>@Html.ActionLink("Список специальностей", "Index", "Specialities")</h3>